@CHARSET "UTF-8";
.float_left {float:left;}
.float_right{ float:right;}
.float_clear {clear: both}
.title{font-family: "Microsoft YaHei";font-size:100%;}
.title_item{font-family:Arial,Verdana,Sans-serif;font-size:90%;}
.title_width{width:500px;}
.title_margin{margin-top:10px;margin-left:20px;}
.content_left {
	float: left;
	padding: 10px;
	margin: 20px;
	/*background: #666;*/
	border: 5px solid #ccc;
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 60%;
	height:60%;
}
.content_right {
	float: left;
	padding: 10px;
	margin: 20px;
	/*background: #666;
	border: 5px solid #ccc;*/
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 20%;
	height:60%;
	}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}

.button .gray {
    background: -moz-linear-gradient(center top , #f2f3f7, #e4e8ec) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #dce1e6;
    box-shadow: 0 1px 2px #fff inset, 0 -1px 0 #a8abae inset;
    color: #8c96a0;
    text-shadow: 1px 1px 1px #fff;
}
.button {
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    line-height: 38px;
    margin: 0 20px 20px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-family: "Microsoft YaHei";
    font-size:100%;
    text-shadow: 1px 1px 1px #333;
    width: 140px;
}
.edit_size{width:20px;height:20px;margin-left:10px;}

/*infolist css*/
.infolist_td { display: block;}
.infolist_table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}
.zebra td, .zebra th {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;    
}

.zebra tbody tr:nth-child(even) {
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
}

.zebra th {
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
    background-image:    -moz-linear-gradient(top, #f5f5f5, #eee);
    background-image:     -ms-linear-gradient(top, #f5f5f5, #eee);
    background-image:      -o-linear-gradient(top, #f5f5f5, #eee); 
    background-image:         linear-gradient(top, #f5f5f5, #eee);
}

.zebra th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;  
}

.zebra th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.zebra th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.zebra tfoot td {
    border-bottom: 0;
    border-top: 1px solid #fff;
    background-color: #f1f1f1;  
}

.zebra tfoot td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.zebra tfoot td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.zebra tfoot td:only-child{
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px
    border-radius: 0 0 6px 6px
}