@CHARSET "UTF-8";
.float_left {float:left;}
.float_right{ float:right;}
.float_clear {clear: both}
.title{font-family: "Microsoft YaHei";font-size:100%;}
.title_item{font-family:Arial,Verdana,Sans-serif;font-size:90%;}
.title_width{width:500px;}
.title_margin{margin-top:10px;margin-left:20px;}
.content_left {
	float: left;
	padding: 10px;
	margin: 20px;
	/*background: #666;*/
	border: 5px solid #ccc;
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 60%;
	height:60%;
}
.content_right {
	float: left;
	padding: 10px;
	margin: 20px;
	/*background: #666;
	border: 5px solid #ccc;*/
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 20%;
	height:60%;
	}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}

.button .gray {
    background: -moz-linear-gradient(center top , #f2f3f7, #e4e8ec) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #dce1e6;
    box-shadow: 0 1px 2px #fff inset, 0 -1px 0 #a8abae inset;
    color: #8c96a0;
    text-shadow: 1px 1px 1px #fff;
}
.button {
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    line-height: 38px;
    margin: 0 20px 20px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-family: "Microsoft YaHei";
    font-size:100%;
    text-shadow: 1px 1px 1px #333;
    width: 140px;
}
.edit_size{width:20px;height:20px;margin-left:10px;}

/*infolist css*/
.infolist_td { display: block;}
.infolist_table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}
.zebra td, .zebra th {
    padding: 10px;
    border-bottom: 1px solid #f2f2f2;    
}

.zebra tbody tr:nth-child(even) {
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
}

.zebra th {
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
    background-image:    -moz-linear-gradient(top, #f5f5f5, #eee);
    background-image:     -ms-linear-gradient(top, #f5f5f5, #eee);
    background-image:      -o-linear-gradient(top, #f5f5f5, #eee); 
    background-image:         linear-gradient(top, #f5f5f5, #eee);
}

.zebra th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;  
}

.zebra th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.zebra th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.zebra tfoot td {
    border-bottom: 0;
    border-top: 1px solid #fff;
    background-color: #f1f1f1;  
}

.zebra tfoot td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.zebra tfoot td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.zebra tfoot td:only-child{
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px
    border-radius: 0 0 6px 6px
}

.create{text-align:center;width:800px;height:600px;margin: 0 auto;}
.create select{background-color:#ddd;width:80px;}
.create input.borderInput {
    background-image: url(../input-border.gif);;
    background-repeat: no-repeat;
    background-position: left top;
    border:1px solid #d5dee9;
    padding:3px;
}
.create .title_label{width:50px;margin:20px 0 0 75px;}
.create .title_input{width:600px;margin:20px 75px 0 0;}
.create .category_label{width:50px;}
.create .url_input{width:300px;}
.create .content{width:650px;height:400px;margin-left:75px;}


.white {
color: #606060;
border: solid 1px #b7b7b7;
background: #fff;
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
background: -moz-linear-gradient(top, #fff, #ededed);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.submit_btn_white {
color: #606060;
border: solid 1px #b7b7b7;
background: #fff;
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
background: -moz-linear-gradient(top, #fff, #ededed);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.submit_btn_white:hover {
background: #ededed;
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
background: -moz-linear-gradient(top, #fff, #dcdcdc);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.submit_btn {
display: inline-block;
zoom: 1;
vertical-align: baseline;
margin: 0 2px;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: 14px/100% Arial, Helvetica, sans-serif;
padding: .5em 2em .55em;
text-shadow: 0 1px 1px rgba(0,0,0,.3);
-webkit-border-radius: .5em;
-moz-border-radius: .5em;
border-radius: .5em;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.delete_red {
color: #faddde;
border: solid 1px #980c10;
background: #d81b21;
background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
background: -moz-linear-gradient(top, #ed1c24, #aa1317);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}

.delete_red:hover {
background: #b61318;
background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
background: -moz-linear-gradient(top, #c9151b, #a11115);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.submit_btn:hover {
text-decoration: none;
}


.detail_container{text-align:center;margin:0 auto; width:800px;height:600px;}
.detail_title{font-size:200%}