@CHARSET "UTF-8";
.company_logo {width:160px;height:65px;margin: 25px 0 0 50px;}
.website_logo {width:220px;height:208px;margin: 50px 0 0 200px;}
.login{width:250px;height:150px;margin: 50px 0 0 200px;}
.float_left {float:left;}
.float_right{ float:right;}